@import url(reset.css);

header{
    height: 60vh;

    background-image: url(../image/imagem-mobile-1.png);
    background-position: bottom center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;

    padding: 0 20px;
}
.header h1{
    width: 66vw;
    font-weight: 100;
}
.header div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.header div button{
    width: 230px;
    height: 40px;
    border-radius: 50px 50px;
    border: none;
}
.header div button:nth-of-type(2){
    background-color: #23272A;
;
    color: #ffffff;
}
.header div button:nth-of-type(1):active{
    background-color: #23272A;
    color: #ffffff;
}
.header div button:nth-of-type(2):active{
    background-color: #ffffff;
    color: #000000;
}
/*
main
*/

section{
    padding: 20px;

    display:flex;
    flex-direction: column;
    gap: 20px;
}
section:nth-of-type(even){
    background: #f6f6f6;
}
.sectionText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section img{
    min-width: 300px;
    width: 350px;

    align-self: center;
}
section h1{
    color: #23272A;
    font-weight: 400;
}
section h2{
    color: #23272A;
    font-weight: 800;
}
section p{
    color: black;
    align-self: start;
}
/*
footer
*/
footer{
    height: 140px;
    background-color: #23272A;

    display: flex;
    align-items: center;
    justify-content: center;
}
